html {
  background-color: #121212;
  color: #f1f1f1;
}

body {
  background-color: #121212;
  color: #f1f1f1;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  color: #ffffff;
}

#variablesForm label {
  text-transform: capitalize;
  color: #e0e0e0;
}

textarea#output {
  font-family: monospace;
  white-space: pre-wrap;
  background-color: #1e1e1e;
  color: #f1f1f1;
  border: 1px solid #444;
}

input,
select,
textarea {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #444;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
}

button {
  min-width: 180px;
  background-color: #333;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

#downloadBtn {
  display: none;
}

#downloadBtn.show {
  display: inline-block;
}
